@use "var" as vars;
@use "color" as colors;

#hero {
  margin-bottom: 250px;
  @media (max-width: 1279px) {
    margin-bottom: 8rem;
    height: auto !important;
  }
  @media (max-width: 819px) {
    margin-bottom: 3rem;
  }
  .container {
    @media (min-width: 1441px) {
      max-width: 92%;
    }
    .content {
      @media (max-width: 1279px) {
        margin-top: 8rem;
      }
    }
    h2 {
      font-weight: vars.$font-weight-regular;
      letter-spacing: 6px;
      @media (max-width: 1279px) {
        font-size: 24px !important;
      }
    }
    h1 {
      font-size: 128px;
      @media (max-width: 1279px) {
        font-size: 80px;
      }
    }
    p {
      width: 45%;
      line-height: 24px;
      @media (max-width: 1279px) {
        width: 60%;
      }
      @media (max-width: 1023px) {
        width: 100%;
      }
    }
    & > img {
      transform: translate(250px, 98px);
      width: 450px;
      opacity: 0.2;
      @media (max-width: 1439px) {
        width: 400px;
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        transform: translate(425px, 98px);
      }
      @media (max-width: 819px) {
        top: 20% !important;
        right: 0;
        transform: none;
      }
      @media (max-width: 767px) {
        width: 225px;
        top: 15% !important;
      }
    }
    .image-container img {
      @media (max-width: 1279px) {
        display: none;
      }
      &:first-child {
        transform: translate(-70px, 100px);
        width: 460px;
      }
    }
    & > div.image-container-2 {
      img {
        position: absolute;
        width: 200px;
        bottom: -200px;
        @media (max-width: 1279px) {
          width: 150px;
          bottom: 0;
        }
        @media (max-width: 819px) {
          display: none;
        }
        &:first-child {
          left: 550px;
          width: 350px;
          opacity: 0.5;
          @media (max-width: 1599px) {
            left: 342px;
          }
          @media (max-width: 1279px) {
            width: 250px;
            bottom: -150px;
            left: 375px;
          }
        }
      }
    }
  }
}
