@use "var" as vars;
@use "color" as colors;

header {
  z-index: 1;
  .container {
    @media (min-width: 1441px) {
      max-width: 92%;
    }
  }
  .navbar {
    .navbar-brand {
      font-weight: vars.$font-weight-bold;
    }
    .navbar-nav {
      gap: 30px;
      width: 75%;
      flex-direction: row;
      @media (max-width: 1279px) {
        width: auto;
      }
    }
  }
}
