#home-explore-banner{
  .col-xxl-5{
    padding-left: 8%;
    @media (max-width:1440px){
        padding-left: 0;
    }
    @media (max-width: 600px){
      padding-left: 6%;
      padding-top: 10%;
    }
  }
  .position-relative{
    img{
      @media(max-width: 600px){
        height: 400px;
      }
    }
    .position-absolute{
      width: 100%;
      height: 540px;
      background: #F4F2F0;
      top: -100px;
      right: -67%;
      z-index: -9;
      min-width: 740px;
      @media (max-width:1440px){
        min-width: 630px;
      }
      @media (max-width:1024px){
        height: 460px;
        min-width: 480px;
      }
    }
  }
  .wheat-icons {
		position: absolute;
		background-color: $background-color_white;
		padding: 15px 25px;
		border-radius: 12px;
    box-shadow: 12.14px 24.29px 56.93px 0px #00000026;
    @media (max-width:600px){
			padding: 9.11px 18.23px;
		}
	}
	.left-wheat-icons {
    img{
			height: 40px;
		}
		bottom: 60px;
		left: 22%;
    @media (max-width:1440px){
      left: 0;
    }
    @media (max-width:1024px){
      left: -15%;
    }
    @media (max-width:768px){
			left: 14%;
		}
		@media (max-width:600px){
			left: 3%;
		}
	}
	.right-wheat-icons {
    img{
			height: 40px;
		}
		top: 40px;
		right: -10%;
    @media (max-width:1024px){
      right: -20%;
    }
    @media (max-width:768px){
			top: 10%;
  		right: 12%;
		}
		@media (max-width:600px){
			top: 8%;
  		right: 3%;
		}
	}
	h6 {
		&:first-child {
			color: $color_gray;
			font-weight: 500;
			font-size: 15px;
      @media (max-width:600px){
				font-size: 8.54px;
			}
		}
		&:last-child {
			font-weight: 700;
			font-size: 18px;
			color: $color_light_black;
      @media (max-width:600px){
				font-size: 10.25px;
			}
		}
	}
  p{
    font-size: 20px;
    font-weight: $font-weight-light;
    color: $color-light-paragraph;
    line-height: 32px;
  }
}


h6{
    font-size: 36px;
    font-weight: $font-weight-medium;
    @media (max-width:1024px){
      font-size: 30px;
    }
  }
.bg-white{
    border-radius: 12px;
  }
  p{
    font-size: 16px;
    line-height: 27px;
    font-weight: $font-weight-regular;
    @media (max-width:1024px){
      line-height: 26px;
    }
}

#building-digital{
  .gray-bg{
    border-radius: 24px;
    margin-bottom: 80px;
  }
  p{
    font-size: 18px;
    font-weight: $font-weight-light;
    color: $color-light-paragraph;
    line-height: 27px;
  }

  .position-relative.gray-bg{
    .position-absolute{
        left: -4%;
        bottom: -47%;
        z-index: -9;
        // @media (max-width:1024px){
        //   left: -3%;
        //   bottom: -41%;
        // }
        @media (max-width: 768px){
          left: 48%;
          bottom: -20%;
          border: 3px solid #21ad01;
          height: 250px;
        }
    }
    &:nth-child(2){
      .position-absolute{
        left: 95%;
        bottom: -29%;
        z-index: -9;
        width: 100%;
        // @media (max-width:1024px){
        //   left: 90%;
        //   bottom: -33%;
        // }
        @media (max-width:768px){
          left: 48%;
          bottom: -18%;
          width: 0;
        }
          img{
            transform: rotate(180deg);
          }
        }
      .succes-heading div{
        width: 55%;
        @media (max-width:1024px){
          width: 100%;
        }
      }
      .bg-white{
        height: 112px;
        p {
         color: $color_black;
         font-size: 16px;
         font-weight: $font-weight-regular;
        }
      }
    }
  }


  #empowerment{
    .bg-white{
      min-height: 169px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width:1366px){
        min-height: 195px;
      }
      p {
       color: $color_black;
       font-size: 16px;
       font-weight: $font-weight-regular;
      }
    }
    a{
      color: $color-green;
      text-decoration: none;
      i{
        font-size: 16px;
      }
    }
  }
}
#get-involved{
  h6{
    font-size: 40px;
    font-weight: $font-weight-medium;
    line-height: 48px;
    @media (max-width:768px){
      font-size: 32px;
      line-height: 38.4px;
    }
  }
  p{
    font-size: 20px;
    font-weight: $font-weight-regular;
    color: $color_black;
    line-height: 32px;
    @media (max-width:768px){
      font-size: 16px;
      line-height: 25.6px;
    }
  }
}
