#lead-genration-banner{
  .lead-height{
    @media (min-width:1441px){
      padding-left: 18%;
    }
    @media (max-width:1440px){
      padding-left: 9%;
    }
    @media (max-width:1366px){
      padding-left: 10%;
    }
    @media (max-width:1024px){
      padding-left: 4%;
    }
    @media (max-width:768px){
      padding-top: 8%;
    }
    @media (max-width:600px){
      padding-top: 20%;
    }
  }
  a{
    color: $color-green;
    text-decoration: none;
  }
  h1{
    font-size: 36px;
    line-height: 50.4px;
    font-weight: $font-weight-medium-x;
    @media (max-width:1366px){
      font-size: 30px;
    }
    @media (max-width: 768px){
      font-size: 32px;
      line-height: 37.6px;
    }
  }
  p{
    font-size: 18px;
    line-height: 28.8px;
    font-weight: $font-weight-regular;
    color: $color-light-paragraph;
    @media (max-width: 768px){
      font-size: 16px;
      line-height: 22.4px;
    }
  }
  .wheat-icons {
		position: absolute;
		background-color: $background-color_white;
		padding: 15px 25px;
		border-radius: 12px;
    box-shadow: 12.14px 24.29px 56.93px 0px #00000026;
	}
	.left-wheat-icons {
		bottom: 60px;
		left: 30%;
    @media (max-width:1440px){
      left: 8%;
    }
    @media (max-width:1366px){
      left: 2%;
    }
    @media (max-width:1024px){
      left: -15%;
    }
    @media (max-width:768px){
      left: 36%;
    }
    @media (max-width:600px){
      bottom: 35px;
      left: 60px;
      padding: 15px 60px 15px 15px;
    }
	}
	h6 {
		&:first-child {
			color: $color_gray;
			font-weight: 500;
			font-size: 15px;
		}
		&:last-child {
			font-weight: 700;
			font-size: 18px;
			color: $color_light_black;
		}
	}
}

#brands{
  h4{
    font-size: 24px;
    font-weight: $font-weight-medium;
    line-height: 27.6px;
  }
}
#data-hub{
      h5{
        font-size: 34px;
        font-weight: $font-weight-medium-x;
        @media (max-width:768px){
          font-size: 24px;
          line-height: 30px;
        }
      }
      strong{
        @media (max-width: 768px){
          font-size: 14px;
          line-height: 22.4px;
        }
      }
      p{
        font-size: 16px;
        font-weight: $font-weight-regular;
        color: $color-light-paragraph;
        @media (max-width: 768px){
          font-size: 14px;
          line-height: 22.4px;
        }
      }
      .gray-bg{
        height: 400px;
        border-radius: 16px;
        @media (max-width: 768px){
          height: 350px;
        }
        @media (max-width: 600px){
          height: 264px;
        }
      }
      img{
        border-radius: 16px;
    }
  }


#solutions-inner{
  .border{
    border-radius: 24px;
    padding: 40px 30px;
    height: 100%;
    min-height: 400px;
    @media (max-width: 1024px){
      padding: 25px;
    }
  }
  h3{
    font-size: 20px;
    font-weight: $font-weight-medium-x;
    color: #777777;
  }
  ul{
    margin-bottom: 0;
  }
  li{
    font-size: 16px;
    font-weight: $font-weight-regular;
    color: $color-light-paragraph;
  }
  h6{
    font-size: 20px;
    font-weight: $font-weight-medium-x;
    @media (max-width:1024px){
      font-size: 18px;
    }
  }
  ul{
    padding: 15px;
    li::marker {
    color: $color-green;
    font-size: 18px;
    }
  }
  .swiper-pagination{
    position: static;
  }
}

#best-product{
  background-color: $color-green;
  h5{
    font-size: 34px;
    font-weight: $font-weight-medium;
    line-height: 51px;
    @media (max-width: 768px){
      font-size: 28px;
      line-height: 39.2px;
    }
  }
}
